<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="eBayFunctionTestDBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ebayfunctiontestserver.database.windows.net;initial catalog=eBayFunctionTestDB;persist security info=True;user id=conductor;password=Password1234!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <!-- API Server URL, required -->
    <!-- For production site use: https://api.ebay.com/wsapi -->
    <!-- For Sandbox site use: https://api.sandbox.ebay.com/wsapi -->
    <add key="Environment.ApiServerUrl" value="https://api.sandbox.ebay.com/wsapi"/>
    <!-- User token for API server access, required -->
    <add key="UserAccount.ApiToken" value="AgAAAA**AQAAAA**aAAAAA**0wO+WA**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wFk4GlCZiKpg+dj6x9nY+seQ**qAcEAA**AAMAAA**9swTcKOEr+FwNDcxlixwrGW7cvglSk9vJ8mXRjaLQf5ZlIWO2ASmXRtWaRxwkGj6w0Y0DuaZ98ZAMGIyMe7v0U+TtxvDI8w0TNqfQwpjegL2bcvXEvBdPqdJ1ijsYDqjmuXfHRU8rvp9vihfA2GH2uZcGqNo6GR3wWVbBcTeAZ4toIQY7LGi9selmKfHpwUD2XstzBkYuTedqIOUWnG2QWwrpLC5jnqUkyqQZyJFlYR9VrO4bUjghH8drZhe7vCAimK/SiQnE7BXfZZZq+suj42aZeNxRi+upqUt4KSp4Hw3AhxGyu8GXZd5HSA9qlwAjTxwtCUBeWwXJ0T0PI937lQS8da6UPrRPsSScc2Aq2zxwyDOIfLdR2SdvOrOjKZSfyzhDDANSMFC1tW+eiGDtogOZwhCEaJz2yCmAMlcwGSAGLWsWv5KFnP6yuocK6GDHxl8sMut7urnKtwi/TcNG7eFhfWn9r75zdDaQ9lPWib9ewht4jloIy4hzVvYQt5TVDTDF5q47eJnvfcXL16lbku3MX5TXjx316WFXmflF6ApbrgLdzhHT/8bc1aVfpM8YwK36rrSLCFfEbeJCqyebSzW/fDrtxid/oS+9aXoHsT007svNk8xvJT3xwbSItjD6DAtezmmhOYUwS8E0HkJh2Xgw9JTM+FOO8VyBwaw0YibIBTWxYYHueWejXCke8qebpBnc6Ep4sMU0ihIoNGDrxFhTSEvUJnnLQJmaEvNgxr9hDNIdPRUoqgsE1XELOAV"/>
  </appSettings>
</configuration>