<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="ProductServiceSOAP12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://svcs.ebay.com/services/marketplacecatalog/ProductService/v1"
                binding="customBinding" bindingConfiguration="ProductServiceSOAP12Binding"
                contract="eBayServiceReference1.ProductServicePortType" name="ProductServiceSOAP12port_http" />
        </client>
    </system.serviceModel>
</configuration>